:root{
    --maskStart: 0deg;
    --maskEnd: 180deg;
}

body {
  background-color: rgb(25,25,25);
}

@property --maskStart {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  
  @property --maskEnd {
    syntax: '<angle>';
    inherits: false;
    initial-value: 180deg;
  }

.loader{
  filter: drop-shadow(black 0px 10px 10px);
  position:relative;
  top: calc(50vh - 62.5px);
  left: calc(50vw - 125px);
  width: 250px;
  height: 250px;
  border-radius: 99999px;
  background: conic-gradient(from -90deg, rgba(0,0,0,0) var(--maskStart), #81FBB8 var(--maskStart), #28C76F var(--maskEnd), rgba(0,0,0,0) var(--maskEnd));
  animation: gradient 3s infinite ease;
}

@keyframes gradient{
    0% {
		--maskStart: 0deg;
		--maskEnd: 0deg;
	}
	33% {
		--maskStart: 0deg;
		--maskEnd: 180deg;
	}

    66% {
		--maskStart: 180deg;
		--maskEnd: 180deg;
	}
    100% {
		--maskStart: 0deg;
		--maskEnd: 0deg;
	}
}
